$main-ssfa-color: #000000;
$main-bg-color: #191326;
$secondary-button-color: #5277bf;
$main-nav-width: 110px;
$main-border-radius: 15px;
$user-box-color: rgba($color: #f6f0f0, $alpha: 0.2);
$main-box-color: #ecebf0;
$li-bg-color-selected: green;
$li-font-color-selected: whitesmoke;
$app-background-image: url('../assets/pexels-fwstudio-172292.jpg');
$menu-listItem-hover-background-color: green;
$menu-listItem-hover-font-color: whitesmoke;